* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("https://chicksgold.com/backgrounds/default.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.dropdown {
  width: 100%;
  background-color: rgba(76, 96, 133, 0.2);
  position: relative;
  height: 50px;
}
.dropdown:hover {
  background-color: rgba(76, 96, 133, 0.3);
}
.dropdown > div {
  display: flex;
  align-items: center;
  width: 100% !important;
  padding: 8px;
}
.dropdown.item_type .top_label {
  border-radius: 0 4px 4px 0;
  left: 42px;
}
.dropdown.item_type {
  border-radius: 0 4px 4px 0;
}
.dropdown.price {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #4c6085;
}
.dropdown div .top_label {
  position: absolute;
  top: 22%;
  left: 36px;
  right: auto;
  font-size: 10px;
  color: #d1d2d8;
}
.dropdown div .value {
  width: 100%;
  text-align: left;
  margin: 16px 0 0 10px;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
